.root{
    -fx-background-color: #383838;
    -fx-font-size: 9pt;
    }
    .label{
    -fx-text-fill: #e8e8e8;
    }
    .button{
        -fx-background-color: #AB4642;
        -fx-text-fill: #ffffff
        -fx-background-radius 6;
    
    }
    .check-box {
        -fx-text-fill: #ffffff;
        -fx-font-size: 18;
        -fx-font-weight: bold;
    }
    .table-view .column-header {
        -fx-background-color: #AB4642;
    
    
    }